{% extends 'base.html' %}

{% block content %}

<p class="jumbotron text-center">Cześć ! <br>
  Bardzo długo się zbierałem żeby to zrobić, ale w końcu na kolanie coś naskrobałem.<br>
  Stronka może i wygląda dość biednie, ale podstawową funkcjonalność spełnia :)<br>
  Macie w niej podgląd na wszystkie karty bohaterów z odpowiednimi podziałami.<br>
  Grafiki nie są moje tylko ściągałem je z neta i dlatego niektóre mają rózne rozmiary,
  ale uważam że są nadal czytelne. <br><br>
  Mam kilka pomysłów co do poprawienia strony (a nawet już mam wizję jak ją zrobić od nowa...).<br>
  Mam nadzieję, że nie zabraknie mi zapału żeby na nią pracować. <br><br>
</p>
<p class="jumbotron text-center">
  Wrzucę tutaj tipa jak trochę przyspieszyć levelowanie bohaterów, w szczególności 5*. <br><br>
  Już kiedyś pisałem na czacie by nie zużywać trenerów od tak tylko trzymać ich żeby użyć gdy zbliżamy się do maxa. <br>
  Zbierając trenerów przez 2-3 tygodnie można momentalnie na 5* wskoczyć z 70lvl na 80lvl.
  A 4* to jeszcze szybciej się trenują. <br>
  Sam to robiłem ze swoimi i przy okazji zbierałem dane ile expa potrzeba na kolejny lvl. <br><br>

  Czyta to się tak: gdy jesteś na 59lvl to potrzebujesz 2045 expa by wejść na 60. <br>
  Więc sumujecie od końca, sumujecie ile dają expa wasi trenerzy i jecie ich kiedy liczby się pokrywają :) <br><br>
  
  4*: <br>
  60 lvl: 2045 <br>
  61: 2092 <br>
  62: 2140 <br>
  63: 2188 <br>
  64: 2237 <br>
  65: 2286 <br>
  66: 2336 <br>
  67: 2387 <br>
  68: 2438 <br>
  69: 2490 <br>
  70: 2543 <br><br><br>
  5* <br>
  70 lvl: 3809 <br>
  71: 3884 <br>
  72: 3960 <br>
  73: 4036 <br>
  74: 4113 <br>
  75: 4191 <br>
  76: 4270 <br>
  77: 4350 <br>
  78: 4430 <br>
  79: 4511 <br>
  80: 4593 <br>
</p>

{% endblock %}
