{% extends 'base.html' %}

{% block content %}

<main role="main">

  <section class="jumbotron text-center">
    <div class="container">
      <h1 class="jumbotron-heading">Króliki Wielkanocne</h1>
    </div>
  </section>

<div class="album py-5 bg-light">
  <div class="container">

    <div class="row">

      {% for e in easter.all %}
      <div class="col-md-4">
        <div class="card mb-4 box-shadow">
          <img class="card-img-top" src="{{ e.image.url }}">
          <div class="card-body">
            <p class="card-text">{{ e.name }}</p>
            <div class="d-flex justify-content-between align-items-center">
            </div>
          </div>
        </div>
      </div>
      {% endfor %}

    </div>
  </div>
</div>

</main>

{% endblock %}
